extends layout.pug

block content
	.container
		ol.list-group.list-group-numbered
			li.list-group-item Salin kode berikut : <strong>#{userCode}</strong>
			li.list-group-item Buka url berikut #[a(href=verificationUri target='_blank') #{verificationUri}]

	if qrCode
		.container.mt-5
			.row
				.col-md-5
					p
						strong Atau pindai kode QR di bawah ini
					img(src=`data:image;base64, ${qrCode}`)

	.container.mt-5
		.row
			.col-md-6
				p Setelah berhasil menyelesaikan, pengguna telah mengautentikasi dan perangkat telah diotorisasi. Anda dapat beralih kembali ke tab ini untuk memverifikasi info pengguna yang diautentikasi.
